[Desktop Entry]
Type=Application
Name=CLion
Comment=A cross-platform IDE for C and C++
Exec=clion -Dawt.toolkit.name=WLToolkit -Dide.browser.jcef.enabled=false
Icon=jetbrains-clion
Categories=Development;IDE
Keywords=Development;IDE;C;C++
