[Desktop Entry]
Type=Application
Name=RustRover
Comment=Rust IDE
Exec=rustrover -Dawt.toolkit.name=WLToolkit -Dide.browser.jcef.enabled=false
Icon=jetbrains-rustrover
Terminal=false
Categories=Development;IDE
Keywords=Development;IDE;Rust
